<%- include('layout', { title: 'Login', user: user, cartCount: cartCount, body: '' }) %>

<section class="auth">
  <h2>Login</h2>
  <form method="post" action="/login">
    <label>Email</label>
    <input name="email" required>
    <label>Password</label>
    <input name="password" type="password" required>
    <button class="btn">Login</button>
  </form>
  <p>Don't have an account? <a href="/signup">Signup</a></p>
</section>
